/* ==== BIG PLAY BUTTON (Outline) ==== */
.video-js .vjs-big-play-button {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  border-radius: 9999px !important;
  width: 64px !important;
  height: 64px !important;
  margin-left: -32px !important;
  margin-top: -32px !important;
  top: 50% !important;
  left: 50% !important;
  font-size: 2rem !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 0 !important;
}

/* Hover effect: fill with sky-500 */
.video-js .vjs-big-play-button:hover {
  background-color: #0ea5e9 !important;
  border-color: #0ea5e9 !important;
}

/* Play icon: White centered */
.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  line-height: 1;
}

/* ==== ACCENT : sky-500 ==== */
.video-js .vjs-play-progress,
.video-js .vjs-volume-level,
.video-js .vjs-slider-bar {
  background-color: #00a6f4 !important; /* sky-500 */
}

/* Outline focus color close */
.video-js *:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ControlBar Transparency and resizing */
.video-js .vjs-control-bar {
  padding-bottom: 40px;
  padding-left: 6px;
  padding-right : 6px;
  background-color: transparent !important;
}

.video-js .vjs-progress-control {
  margin-top: 15px;
}

/* Volume Panel */
.video-js .vjs-volume-panel .vjs-volume-control {
  background-color: rgba(0, 0, 0, 0.6); /* hafif transparan siyah */
  border-radius: 12px;
  padding: 4px;
  transition: background-color 0.2s ease;
}

.video-js .vjs-volume-panel .vjs-volume-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Quality and Captions Panel */
.video-js .vjs-menu-content {
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 12px;
  height: fit-content;
}

.video-js .vjs-menu .vjs-menu-item {
  padding: 6px 6px;
  color: white;
  border-radius: 4px;
  transition: rgba(0, 0, 0) 0.2s ease;
}

.video-js .vjs-menu .vjs-menu-title {
  padding: 6px 6px;
}

.video-js .vjs-menu .vjs-selected {
  color: black;
}

.video-js .vjs-menu-button-popup .vjs-menu {
  top: 120% !important;
  transform: translateY(4px);
}

/* Put menus slightly down */
.video-js .vjs-menu-button-popup:hover .vjs-menu {
  display: block;
  pointer-events: auto;
}

.video-js .vjs-menu-button-popup .vjs-menu {
  margin-top: -8px; 
  padding: 8px 0;
  pointer-events: none; 
}

